*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ********* Header section ********* */

.bar{
    background-color: #4ea1ff;
    background-image: url("../img/pattern.png");
    background-size: 10%;

}

.logo{
    width: 175px;
    margin-top: 25px;
    margin-left: 10px;
}

/* ********* Article Section ********* */
main{
    margin: 5px;
}

/* -- Article Author -- */
.article-author{
    font-size: 12px;
    color: #808080;
}

.article-author a{
    text-decoration: none;
    color: #4ea1ff
}

/* -- Article Date -- */
.article-hero-images{
    margin-bottom: 15px;
}

.article-date{
    font-size: 9px;
    color: #808080;
    margin-bottom: 10px;
}

/* -- Article Hero Images -- */
.image-credit{
    font-size: 9px;
}

/* -- Article Text -- */
.article-text{
    margin-bottom: 15px;
}

/* -- Article Highlited -- */
.highlited{
    background-color: yellow;
}

/* -- Article Bullet Points -- */
.article-bullets-point{
    margin-left: 20px;
    margin-bottom: 15px;
}